<div class="tabs" id="tabs-1">
    <div class="controls" data-controls>
        <a href="#pear" class="controls__item">🍐 Груша</a>
        <a href="#grape" class="controls__item">🍇  Виноград</a>
        <a href="#peach" class="controls__item">🍑  Персик</a>
    </div>

    <div class="panes" data-panes>
        <div class="pane" id = "pear">
            <h2 class="pane__fruit">🍐 </h2>
            <p class="pane__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam non voluptatem eos ea facilis error porro cupiditate maiores omnis incidunt quia accusantium totam praesentium enim natus modi, vitae adipisci.
            </p>
        </div>

        <div class="pane" id = "grape">
            <h2 class="pane__fruit">🍇  </h2>
            <p class="pane__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam non voluptatem eos ea facilis error porro cupiditate maiores omnis incidunt quia accusantium totam praesentium enim natus modi, vitae adipisci.
            </p>
        </div>

        <div class="pane" id = "peach">
            <h2 class="pane__fruit">🍑 </h2>
            <p class="pane__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam non voluptatem eos ea facilis error porro cupiditate maiores omnis incidunt quia accusantium totam praesentium enim natus modi, vitae adipisci.
            </p>
        </div>
    </div>
</div>